@import '../common/variables';

.change-name {

    padding: 30px 15px;

    @media (min-width: $tablet) {
        padding: 30px;
    }

    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 1.25em;
        font-weight: 500;
        margin: 10px 0 30px;
        text-align: center;
        color: #666;
    }

    button {
        margin: 30px 0 0;
    }

    .server-error {
        margin: 20px 0 0;
        color: $red;
        font-size: .95em;
    }

}
